<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<div class="container text-center">

    <h1>Password Generator</h1>
    <a href="{% url 'about' %}">About</a>
    <form action={% url 'password' %}>
    <select name="length"> 
        <option value="6">6 char long</option>
        <option value="7">7 char long</option>
        <option value="8" selected="selected">8 char long</option>
    </select> Length
    <br>

    <input type="checkbox" name="uppercase"> UpperCase
    <br>
    <input type="checkbox" name="numbers"> Numbers
    <br>
    <input type="checkbox" name="special"> Special Characters
    <br>
    <input type="submit" value="Generate Password" class="btn btn-primary">


    </form>

</div>
